
@font-face {
  font-family: 'CIBFontSans-bold';
  src: url("../fonts/opensans/CIBFontSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CIBFontSans';
  src: url("/bancolombia/CIBFontSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CIBFontSerif-Bold';
  src: url("../fonts/opensans/CIBFontSerif-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Bold';
  src: url("/bancolombia/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url("/bancolombia/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url("../fonts/opensans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}